entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
  ipaccess:
    address: ":8080"
  metrics:
    address: ":9102"

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  letsencrypt:
    acme:
      email: "admin@example.com"  # <-- zmień na swój e-mail
      storage: "/letsencrypt/acme.json"
      httpChallenge:
        entryPoint: web

metrics:
  prometheus:
    entryPoint: metrics

api:
  dashboard: true
